$color: black;

body {
  background-color: $color;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}
.world {
  width: 50vh;
  height: 50vh;
  margin: 10px auto;
  background-image: url('./../img/The_Earth_seen_from_Apollo_17.jpg');
  background-size: contain;
}